* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.swiper {
  width: 960px;
  height: 100%;
  transform: translateX(22px);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

.style_banner {
  height: 50px;
  background-color: #fdeae0;
  text-align: center;
  line-height: 50px;
  font-size: 13px;
}

.style_banner_inner {
  width: 1278px;
  margin: 0 auto;
}

.style_banner .txt01 {
  color: #ff6c57;
}

.style_banner .txt02 {
  color: black;
  font-weight: bold;
}

.style_banner .close_btn {
  float: right;
  cursor: pointer;
}

/* -----------header-------------- */

.headerWrap {
  width: 100%;
  z-index: 999;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.header {
  width: 1278px;
  margin: 0 auto;
}

.gnbBox {
  height: 57px;
}

.gnb {
  margin: 17px 0;
  float: right;
  position: relative;
}

.gnb li {
  float: left;
  margin-left: 25px;
  font-size: 13px;
}

.gnb li > div {
  float: left;
}

.gnb li .count {
  width: 11px;
  height: 11px;
  line-height: 10px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  background-color: #ff6c57;
  color: white;
  transform: translateX(-4px);
}

.lnbBox {
  display: flex;
  position: relative;
  z-index: 2;
}

.lnbBox .logoBox {
  width: 252px;
  height: 110px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -38px;
  left: 492px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.lnbBox .logoBox .logo {
  width: 150px;
  height: 54px;
  background-color: yellow;
  margin: 35px auto;
}

.lnbBox .logoBox .logo img {
  width: 100%;
  height: 100%;
}

.lnb li {
  float: left;
  font-size: 16px;
  cursor: pointer;
}

.lnb li.brand_list::after {
  padding-left: 5px;
  content: "|";
  color: #707070;
  position: absolute;
  transform: translate3d(30px, -1px, 0);
}

.lnb li label {
  cursor: pointer;
}

.lnb > div {
  float: left;
}

#menuBtn {
  margin-right: 15px;
  font-size: 20px;
  transform: translate3d(-40px, -3px, 0);
}

#menuBtn i {
  cursor: pointer;
}

#menuBtn,
.lnb_left ul {
  float: left;
}

.lnb .lnb_left {
  margin-left: 40px;
}

.lnb .lnb_left li {
  margin-right: 72px;
}

.lnb .lnb_right {
  margin-left: 230px;
  position: relative;
}

.lnb .lnb_right li {
  margin-right: 96px;
}

.lnb .lnb_right .subscribe:hover .free_shipping {
  display: block;
}

.lnb .lnb_right .free_shipping {
  width: 100px;
  height: 26px;
  background-color: #ff6c57;
  color: white;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  right: 75px;
  top: 35px;
  display: none;
}

.lnb .lnb_right .free_shipping:after {
  content: "";
  position: absolute;
  border-bottom: 10px solid #ff6c57;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: -6px;
  left: 45px;
}

.lnb .search {
  font-size: 24px;
  transform: translateY(-7px);
}

#search_form {
  width: 0;
  height: 40px;
  transition: 0.3s;
  position: absolute;
  border: none;
  border-bottom: 1px solid black;
}

#search_box:focus ~ #search_form {
  width: 206px;
  transform: translateX(-206px);
}

#search_form:focus {
  transform: translateX(-206px);
  width: 206px;
}

.brand_search {
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 141px;
  z-index: 1;
  display: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.brand_search .brand_search_inner {
  width: 1278px;
  margin: 85px auto;
}

.brand_search_inner #brand_search {
  width: 608.5px;
  height: 32px;
  font-size: 17px;
  color: #777777;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 10px;
}

.brand_search_inner i {
  font-size: 25px;
  transform: translate(-35px, 5px);
  cursor: pointer;
}

.brand_search_inner .consonant {
  width: 608.5px;
  height: 40px;
  margin-top: 18px;
  display: flex;
}

.brand_search_inner .consonant button {
  width: 50px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  border: 1px solid #ccc;
}

.brand_search_inner .consonant > ul {
  width: 488px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

.brand_search_inner .consonant > ul li {
  width: 34.6px;
  font-size: 15px;
  float: left;
  text-align: center;
}

.brand_search_inner .consonant > ul li::after {
  padding-left: 8px;
  content: "|";
  color: #ccc;
}
/* 간격주고 | 넣기  */

.brand_search_inner .consonant > ul li:last-child::after {
  content: "";
}

.brand_search_inner .brand_searh_list {
  width: 1278px;
  height: 106px;
  font-size: 15px;
  margin-top: 50px;
}

.brand_search_inner .brand_searh_list > li {
  width: 142px;
  float: left;
  text-align: center;
}

.brand_search_inner .brand_searh_list > li li {
  margin-bottom: 21px;
}

.menuWrap {
  width: 100%;
  height: 344px;
  overflow: hidden;
  background-color: white;
  margin: 0 auto;
  position: fixed;
  top: 141px;
  z-index: 1;
  display: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.lnb_subMenu {
  width: 1278px;
  height: 250px;
  margin: 0 auto;
  padding-top: 89px;
  padding-left: 48px;
}

.lnb_subMenu > ul {
}

.lnb_subMenu > ul > li {
  float: left;

  margin-right: 130px;
}

.lnb_subMenu > ul > li:last-child {
  margin-right: 0;
}

.lnb_subMenu > ul > strong {
  font-size: 17px;
}

.lnb_subMenu > ul > li > ul {
  margin-top: 38px;
}

.lnb_subMenu > ul > li > ul > li {
  font-size: 15px;
  margin-bottom: 16px;
}

/* -----------header-------------- */
/* -----------contents-------------- */

.wrap {
  width: 1278px;
  margin: 0 auto;
}

.breadcrumb {
  padding: 38px 16px;
  font-size: 14px;
}

.style_main .title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.style_main .tab {
}

.style_main .tab ul {
  width: 350px;
  height: 20px;
  margin: 0 auto;
  margin-top: 55px;
  transform: translateX(20px);
}

.style_main .tab ul li {
  float: left;
  margin-right: 39px;
  text-align: center;
  font-size: 18px;
  color: #777777;
  cursor: pointer;
}

.style_main .tab ul li.on {
  color: #222222;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.style_main .tab_sheet ul {
  display: none;
}

.style_main .tab_sheet ul.on_sheet {
  display: block;
}

.style_wrapper {
  display: flex;
  margin-top: 44px;
}

.hide_mobile {
  width: 297px;
  background-color: #fff9f6;
  padding: 35px 16px;
}

.hide_mobile ul {
}

.hide_mobile ul li {
  padding: 30px 0;
  font-size: 17px;
  color: #222;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.hide_mobile ul li:last-child {
  border-bottom: 0;
}

.hide_mobile ul li i {
  float: right;
  font-size: 18px;
  font-weight: bold;
  color: #222222;
}

.hide_mobile ul li.flavor {
  position: relative;
}

.hide_mobile ul li label {
  width: 400px;
  height: 90px;
  position: absolute;
  top: 26px;
  transform: translateY(-25px);
  cursor: pointer;
}

.hide_mobile ul .strong {
  font-size: 20px;
  font-weight: bold;
}

#hamBtn {
  display: none;
}

#hamBtn:checked ~ .taste {
  height: 400px;
  border-bottom: 1px solid #cccccc;
}

#hamBtn:checked ~ .flavor {
  border-bottom: 0;
}

/* #hamBtn ~ .list {height:0;} */

#hamBtn:checked ~ .flavor .xi-angle-up-min {
  display: block;
}

#hamBtn:checked ~ .flavor .xi-angle-down-min {
  display: none;
}

#hamBtn ~ .flavor .xi-angle-down-min {
  display: block;
}

#hamBtn ~ .flavor .xi-angle-up-min {
  display: none;
}

.hide_mobile .taste {
  height: 0;
  overflow: hidden;
}

.hide_mobile .taste div {
  padding: 14px 10px;
  border: 1px solid #cccccc;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.hide_mobile .taste div.on {
  color: #ff6c57;
  border: 1px solid #ff6c57;
  box-sizing: border-box;
}

.style_list {
  width: 981px;
  height: 1750px;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}

.style_list_tab {
  float: right;
}

.style_list_tab li {
  float: left;
  margin-left: 14px;
  margin-top: 20px;
}

.items_coffees {
  margin-top: 65px;
  margin-left: 30px;
  transform: translateX(30px);
}

.items_coffees li {
  width: 297px;
  height: 400px;
  margin-right: 11px;
  float: left;
  position: relative;
}

.items_coffees li:last-child {
  margin-right: 0;
}

.items_coffees li .img {
  width: 297px;
  height: 300px;
  overflow: hidden;
}
.items_coffees li .img img {
  width: 100%;
  height: 100%;
}

.items_coffees li:hover .img img {
  transform: scale(1.1);
  transition: all 0.3s;
}

.items_coffees li .txt {
  width: 297px;
  height: 100px;
  text-align: center;
}

.items_coffees li .txt .item_name {
  font-size: 17px;
  margin-bottom: 14px;
}

.items_coffees li .txt .item_name_explain {
  font-size: 16px;
  color: #707070;
}

.items_coffees li .txt .item_price {
  font-size: 15px;
  font-weight: bold;
  margin-top: 12px;
}

.items_coffees li .items_coffees_logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.items_coffees li .items_coffees_logo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.items_coffees li .hover_icon {
  width: 24px;
  height: 82px;
  z-index: 999;
  position: absolute;
  bottom: 140px;
  right: 50px;
  display: none;
}

.items_coffees li:hover .hover_icon {
  display: block;
}

.items_coffees li .hover_icon > div {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #999999;
  cursor: pointer;
}

.items_coffees li .hover_icon > div:last-child {
  margin-bottom: 0;
}

.items_coffees li .hover_icon > div img {
  width: 70%;
  height: 70%;
  transform: translate(3.5px, 4px);
}

/* -----------style_main-------------- */
/* ----------footer-------------- */

.footerWrap {
  width: 100%;
  height: 587px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: absolute;
}

.footer_top {
  width: 100%;
  height: 394px;
  background-color: #fbfbfb;
  border-bottom: ;
}

.footer_top_inner {
  width: 1278px;
  height: 394px;
  margin: 0 auto;
}

.footer_top_inner .list {
  width: 100%;
  height: 340px;
}

.footer_top .list li {
  width: calc(33.333333% - 27px);
  float: left;
}

.footer_top ul .list01,
.footer_top ul .list02,
.footer_top ul .list03 {
  margin: 74px 16px;
}
.footer_top ul .list01,
.footer_top ul .list02 {
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.footer_top ul .list02 img {
  width: 100%;
  height: 100%;
}

.footer_top ul .list02 button {
  cursor: pointer;
}

.footer_top ul .list03:last-child {
  margin-right: 0;
}

.footer_top ul .list01 .cs_center {
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
  color: #777;
}

.footer_top ul .list01 h2 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

.footer_top ul .list01 .opening_hours {
  margin-top: 43px;
  color: #777;
}

.footer_top ul .list02 .store_guide {
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
  color: #777;
}

.footer_top ul .list02 ul li {
  width: 60px;
  height: 135px;
  margin-right: 28px;
}
.footer_top ul .list02 ul li:last-child {
  margin-right: 0;
}

.footer_top ul .list02 ul li .img {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
}

.footer_top ul .list02 ul li .img img {
  width: 65%;
  height: 65%;
  transform: translate(12px, 12px);
}

.footer_top ul .list02 ul li .txt {
  width: 60px;
  text-align: center;
  color: #777;
  font-size: 13px;
  padding-top: 20px;
}

.footer_top ul .list02 ul li .txt .txt01 {
  font-family: "Rubik", sans-serif;
  margin-bottom: 5px;
}

.footer_top ul .list02 ul li .txt button {
  width: 60px;
  height: 25px;
  line-height: 25px;
  color: #777;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
}

.footer_top ul .list03 .return {
  font-family: "Rubik", sans-serif;
  margin-bottom: 20px;
  color: #777;
}

.footer_top ul .list03 ul {
  width: 100%;
}

.footer_top ul .list03 ul li {
  width: 198px;
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  background-color: white;
  text-align: center;
  border: 1px solid #999;
  box-sizing: border-box;
  float: left;
}

.footer_top ul .list03 .shipping {
  border-bottom: none;
}

.footer_top ul .list03 .exchange {
  background-color: #911d1d;
  color: #999999;
}

.footer_top .list03 .parcel p {
  color: #999;
  font-size: 13px;
}

.footer_top .list03 .parcel button {
  width: 124px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: white;
  margin-top: 26px;
  cursor: pointer;
}

.footer_lnb li {
  font-size: 18px;
  float: left;
  font-family: "Rubik", sans-serif;
  margin-right: 43px;
  position: relative;
}

.footer_lnb li a {
  color: #777777;
}

.footer_lnb .privacy a {
  color: black;
}

.footer_lnb li::after {
  padding-left: 5px;
  font-size: 40px;
  content: "ꞏ";
  color: #777777;
  position: absolute;
  top: -15px;
  right: -28px;
}
/* 간격주고 | 넣기  */

.footer_lnb li:last-child::after {
  content: "";
}

.footer_middle {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

.footer_middle_inner {
  width: 1278px;
  margin: 0 auto;
  display: flex;
  padding: 34px 0;
}

.footer_middle_left {
  width: 874px;
  font-size: 12px;
  color: #777;
}

.footer_middle_right {
  width: 188px;
  height: 67px;
  background-color: yellow;
  margin-left: auto;
}

.footer_bottom {
  height: 58px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  line-height: 58px;
  color: #777777;
  background-color: #fbfbfb;
}

/* ----------footer-------------- */

/* ----------quick_menu-------------- */

.quick_menu {
  width: 50px;
  height: 300px;
  position: fixed;
  top: 628px;
  right: 0;
}

.quick_menu > div {
  width: 50px;
  height: 50px;
  position: relative;
  border: 1px solid #cccccc;
  background-color: white;
}

.quick_menu > div img {
  width: 70%;
  height: 70%;
  transform: translate(6px, 6px);
}

.quick_menu .goTop,
.quick_menu .goBottom {
  background-color: #fdeae0;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  cursor: pointer;
}

.quick_menu_hover > div {
  width: 100px;
  height: 26px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 26px;
  font-size: 15px;
  border-radius: 30px;
  position: fixed;
  top: 638px;
  right: 70px;
  display: none;
}

.quick_menu_hover > div:after {
  content: "";
  position: absolute;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
  border-top: 5px solid transparent;
  right: -7px;
  top: 8px;
}

.quick_menu .search:hover .quick_menu_hover > div {
}

.quick_menu_hover .shopping_basket_hover {
  top: 688px;
}
.quick_menu_hover .delivery_tracking_hover {
  top: 738px;
}
.quick_menu_hover .recently_viewed_hover {
  top: 788px;
}
/* ----------quick_menu-------------- */

.hide_mobile_wrapper {
  width: 297px;
  height: 704px;
  position: relative;
}

.hide_mobile.drop {
  position: fixed;
  top: 100px;
  animation: dropHeader 0.3s;
}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

.fix {
  position: fixed;
  top: 0;
  height: 100px;
}

.position {
  position: fixed;
  top: 100px;
  z-index: 2;
}

.border {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.clicked {
  border: 2px solid #ff6c57;
  color: #ff6c57;
}

#wrap1 {
  position: relative;
  height: 500px;
}

[data-group] {
  transition: 0.3s ease;
  width: 100px;
  height: 150px;
  display: block;
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
}

.show {
  transition: 0.3s ease;
  opacity: 1;
}

.hide {
  transition: 0.2s ease;
  opacity: 0;
}
